@charset "UTF-8";
/*
Theme Name: impact英会話 Theme
Theme URI:
Description: impact英会話のテーマデータです。
Version: 1.0
Author: 宮原味佐子
Author URI: http://impactcomm.net/
*/
/* General Setting */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,　center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

img {
    vertical-align: bottom;
}

body {
    font: 14px/24px  Arial, Roboto, "“Droid Sans”", “游ゴシック”, YuGothic, "“ヒラギノ角ゴ ProN W3”", "“Hiragino Kaku Gothic ProN”", “メイリオ”, Meiryo, sans-serif;
    color: #384759;
    text-align: left;
    background: #FFF;
}

a {
    color: #444;
    text-decoration: none;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
}
.cf:after{
    clear: both;
    display: block;
    content: "";
}
@media screen and (min-width:640px) {
body {
    min-width: 990px;
}
.sp{
    display: none;
}
#header {
    padding-top: 70px;
    background: url(img/page/head_line.png) repeat-x 0 0;
}
#header .header_main{
width: 990px;
margin:  0 auto;  
padding-top: 15px;
}
#header .header_logo{
    float: left;
    width: 292px;
    margin-right: 20px;
    padding-top: 10px;
}
#header .head_contact {
    float: right;
    width: 340px;
}
#header .head_contact .tel {
    padding-left: 25px;
    margin-bottom: 10px;
}
#header .head_contact .tel li{
    display: inline-block;
}
#header .head_contact .tel li:last-child{
    font-weight: bold;
    padding-left: 10px;
    line-height: 1;
}
#header .head_link {
    text-align: right;
    width: 990px;
    margin: 0 auto;
}
#header .head_link li{
    display: inline-block;
}
#header .head_link li a{
    padding: 0 10px;
    border-left: solid 1px #ccc;
}
#header .head_link li:first-child a{
    border-left: none;
}
#header .head_link li a:hover{
    text-decoration: underline;
    opacity: 1;
}
/*▲ PC ▲*/
/* layout */
#header{
    padding-bottom: 15px;
}

#header .bemore{
    float: left;
    width: 276px;
    padding-top: 20px;
}
#header .bemore img{
    width: 100%;
    height: auto;
}

#header .head_contact .btn {
    margin-bottom: 10px;
}
#header .head_contact .btn li{
    display: inline-block;
}


/*#g_navi {
    border-bottom: solid 2px #384759;
}*/
#g_navi .nav_list {
    width: 990px;
    margin: 0 auto;
}
#g_navi ul {
    *zoom: 1;
}
#g_navi ul li {
    font-size: 16px;
    float: left;
    width: 165px;
    text-align: center;
}
#g_navi ul li a{
    color: #384759;
    display: block;
    border-top: solid 2px #384759;
    border-right: solid 2px #384759;
    border-bottom: solid 2px #384759;
    padding: 10px;
}
#g_navi ul li a:hover{
    color: #fff;
    background-color: #384759;
    opacity: 1;
}
#g_navi ul li:first-child a {
    border-left: solid 2px #384759;
}

#visual {
    text-align: center;
    margin: 0 auto;
}
#visual .img {
    width: 990px;
    box-sizing: border-box;
    border-left: solid 2px #384759;
    border-right: solid 2px #384759;
    border-bottom: solid 2px #384759;
    margin: 0 auto;
    overflow: hidden;
}
#contents {
    *zoom: 1;
    min-height: 500px;
    width: 990px;
    margin: 0 auto;
}
#contents:after {
    content: "";
    display: table;
    clear: both;
}
#main.top {
    width: 990px;
    padding-bottom: 40px;
    /*background: url(img/page/head_line.png) repeat-x 0 10px;*/
}


}
/*▽ SP ▽*/
@media screen and (max-width:640px) {
.pc{
    display: none;
}
img {
    width: 100%;
    height: auto;
}
#header {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    top: 0;
    left: 0;
    border-bottom: 2px solid #384759;
    width: 100%;
}
#header .header_main{
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}
#header .header_logo{
    float: none;
    width: 50%;
}
#g_navi {
    width: 100%;
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 9999;
    
}
#g_navi .nav_list {
    width: 100%;
    display: none;
}
#g_navi ul li {
    background-color: #fff;
    float: none;
    width: 100%;
    text-align: center;
}
#g_navi ul li a{
    font-size: 1.1em;
    font-weight: bold;
    color: #384759;
    display: block;
    border-bottom: solid 2px #384759;
    border-right: solid 2px #384759;
    border-left: solid 2px #384759;
    padding: 13px;
}
#g_navi ul li:first-child a {
    border-top: solid 2px #384759;

}
#g_navi #h_menu {
    position: fixed;
    top: 1%;
    right: 3%;
    background-color: #384759;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 0 10px; 
}
#g_navi #h_menu .sp_menu_in {
    position: relative;
    top: 50%;
    left: 0px;
    height: 2px;
    background-color: #fff;
    width: 100%;
}
#g_navi #h_menu .sp_menu_in:before {
    position: absolute;
    content:"";
    top: 10px;
    left: 0px;
    height: 2px;
    background-color: #fff;
    width: 100%;
}
#g_navi #h_menu .sp_menu_in:after {
    position: absolute;
    content:"";
    bottom: 10px;
    left: 0px;
    height: 2px;
    background-color: #fff;
    width: 100%;
}
#visual {
    border-top: none;
    border-bottom: solid 2px #384759;
    padding-top: 18%; 
    background-color: #384759;
}
#visual a {
    display: block;
}
}



#footer {
    position: relative;
    background: url(img/line_foot.png) #fffbe8 repeat-x 0 97%;
    padding: 40px 0 0 0;
}
#footer #pagetop {
    display: none;
    right: 10px;
}
#footer #pagetop a {
    display: block;
    width: 110px;
    height: 110px;
    line-height: 50px;
    text-align: center;
}
#footer #pagetop.fixed {
    position: fixed;
    bottom: 10px;
}
#footer #pagetop.static {
    position: absolute;
    top: -120px;
}
#footer .footer_main {
    width: 990px;
    padding: 0 80px;
    box-sizing: border-box;
    margin: 0 auto 20px auto;
}
#footer .logo {
    width: 292px;
    float: left;
    margin-right: 80px; 
}
#footer #footer_contact{
    padding: 0 110px;
    margin-bottom: 40px;
}
#footer .address {
    width: 280px;
    float: left;
    padding-top: 35px;  
}
#footer .address:first-child li {
    margin-bottom: 10px;
}
#footer #footer_contact .contact {
    width: 350px;
    margin: 0 auto; 
}
#footer #footer_contact .contact li{
    display: inline-block;
}
#footer #footer_contact .contact li:first-child{
    margin-right: 10px;
}
#footer .sns {
    text-align: center;
    width: 100px;
    float: right;   
    margin: 0 auto; 
}
#footer .sns dt {
    color: #384759;
    font-size: 18px;    
    font-weight: bold;
    margin-bottom: 5px;   
}
#footer .sns dd{
    display: inline-block;
    width: 48px;    
}
#footer .sns dd img {
    width: 100%;
}
.footlink {
    margin-bottom: 40px;
}
.footlink li{
    text-align: center;
    float: left;
    width: 276px;
    margin-left: 80px;
}
.footlink li:first-child{
    margin-left: 0;
}
.footlink li a {
    box-sizing: border-box;
    display: block;
}


#footer #f_navi {
    text-align: center;
    margin-bottom: 100px;
}
#footer #f_navi li {
    display: inline;
}
#footer #f_navi li a {
    padding: 0 15px;
    border-right: 1px solid #ccc;
}
#footer #f_navi li:first-child a{
    border-left: 1px solid #ccc;
}
#footer #f_navi li a:hover{
    text-decoration: underline;
}
#footer .copy {
    text-align: center;
    color: #fff;
    background-color: #384759;
}



/* front-page */

#contents #main .notice {
    position: relative;
    border-bottom: solid 2px #384759;
    padding: 80px 0;
}
#contents #main.top .area .underline {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}
#contents #main.top .area .underline span{
    position: relative;
    border-bottom: 3px solid #384759;
    padding-bottom: 5px;
}

#contents #main.top .area .underline span:after{
    position: absolute;
    bottom : -3px;
    left: 0;
    background-color: #a40000;
    width: 50%;
    height: 3px;
    content: "";
}
#contents #main .notice .block {
    margin-bottom: 30px;
}
#contents #main .notice .post {
    width: 320px;    
    float: left;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px #384759 solid;
}
#contents #main .notice .post:first-child{
    margin-left: 0; 
}
#contents #main .notice .post a{
    display: block; 
    color: #384759;  
}
#contents #main .notice .post_head {
    background-image: url(img/bg01.png);
    
}
#contents #main .notice .date {
    font-weight: bold;
    font-size: 1.2em;   
    padding-left: 10px;
}
#contents #main .notice .title {
    font-size: 1.4em;
    font-weight: bold;
    bottom: 0;
    height: 37%;
    width: 100%;    
    padding: 8px;
    box-sizing: border-box;
}
#contents #main .notice .pic {
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-top: 1px #384759 solid;
    border-bottom: 1px #384759 solid;

}
#contents #main .notice .pic img {
    width: 100%;
    height: auto;
}
#contents #main .notice .entry {
    padding: 0 10px;
}
#contents #main .notice .to_page {
    background-color:  #384759; 
    padding: 5px;
    text-align: center;
}
#contents #main .notice .to_page a{
    color: #fff;

}
#contents #main .notice .more {
    text-align: center;
    text-decoration: underline;
    width: 100px;
    margin: 0 auto 30px auto; 
}
#contents #main .notice .btn a{
    display: block;
    background-color: #a40000;  
    color: #fff;
    border: solid 2px #a40000;
    width: 200px;
    padding: 15px;  
    margin: 0 auto;
}
#contents #main .notice .btn a:hover{
    display: block;
    color: #a40000;
    background-color: #fff;
    border: solid 2px #a40000;
    width: 200px;
    padding: 15px;  
    margin: 0 auto;
    opacity: 1;
}
#contents #main .notice .report {
    position: absolute;
    bottom: 0;
    left: 200px;
}
#contents #main .notice .report a {
    display: block;
    opacity: 1;
}
#contents #main .notice .report a:hover{
    -webkit-transform: translate(-3px,-3px);
        -moz-transform: translate(-3px,-3px);
        -ms-transform: translate(-3px,-3px);
        -o-transform: translate(-3px,-3px);
        transform: translate(-3px,-3px);
}
/*infoブロック*/
#contents #main.top .info {
    padding: 80px 0;
    border-bottom: solid 2px #384759;
}
/*トップページの入会フロー #main.top*/
#contents #main.top .info #lesson_flow ol {
    padding: 0px ;
    margin-bottom: 50px;
}
#contents #main.top .info #lesson_flow .box{
    float: left;
    padding: 0 0 10px 0;
    margin-right: 0;
    margin-left: 30px;
    margin-bottom: 0px;
    border-radius: 8px;
    min-width: 145px;
}
#contents #main.top .info #lesson_flow .box:first-child {
    margin-left: 0;
}
#contents #main.top .info #lesson_flow .step {
    position: static;
    top: 0;
    left: 0;
    border: 2px solid #384759;
    text-align: center;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 36px;
    background-color: #384759;
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
    line-height: 1;
    padding: 0px 5px;
    margin-right: 0;
    margin-bottom: 10px;
}
#contents #main.top .info #lesson_flow .inst {
    margin-bottom: 10px;
    text-align: center;
}
#contents #main.top .info #lesson_flow .notes {
    padding: 0 10px;
    margin-bottom: 10px;
    text-align: center;
}
#contents #main.top .info #lesson_flow .box:after {
    position: absolute;
    top: 50%;
    left: -20px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-left: 17px solid #384759;
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
}
#contents #main.top .info #lesson_flow ol .box:first-child:after {
    display: none;
}
/*トライアル #main.top*/
#contents #main.top .info #trial_detail {
    padding: 0 50px;
    box-sizing: border-box;
}
#contents #main.top .dots {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    background-image: url(img/bg01.png);
    position: relative;
    padding: 12px 0;
    margin-bottom: 30px;
}

#contents #main.top #trial_detail.area .txt_area {
    float: left;
    width: 65%;
    padding: 0 20px;
    box-sizing: border-box;
}
#contents #main.top .txt_area .txt{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
#contents #main.top #trial_detail.area .img {
    width: 35%;
    float: right;
    padding: 0 20px;
    box-sizing: border-box;
}
#contents #main.top #trial_detail.area .img img{
    width: 100%;
    height: auto;
}

/*4つのポイント*/

#contents #main .point {
    padding: 100px 5px 80px 5px;
    box-sizing: border-box;
    border-bottom: solid 2px #384759;
}
#contents #main .point_list {
    margin-bottom: 50px;
}
#contents #main .point_list li{
    float: left;
    width: 215px;   
    margin-left: 40px;       
}
#contents #main .point_list li:first-child{
    margin-left: 0;       
}
/*あいさつ*/
#contents #main.top .greeting {
    padding: 0 50px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
#contents #main.top .greeting .img {
    float: left;
    width: 23%;
    margin-bottom: 20px;
}
#contents #main.top .greeting .txt02 {
    float: right;
    width: 77%;
    margin-bottom: 20px;
}
#contents #main.top .greeting .txt_area{
    padding: 0 20px;
    box-sizing: border-box;
}

#contents #main.top .btn {
    width: 520px;
    margin: 40px auto 0px auto;
}
#contents #main.top .btn li{
    float: left;
    width: 250px;
}
#contents #main.top .btn .link{
    margin-right: 20px;
}
#contents #main.top .btn .link a{
    display: block;
    text-align: center;
    background-color: #384759;  
    color: #fff;
    border: solid 2px #384759;
    width: 200px;
    padding: 15px;  
    margin: 0 auto;  
}
#contents #main.top .btn .booking a{
    display: block;
    text-align: center;
    background-color: #a40000;  
    color: #fff;
    border: solid 2px #a40000;
    width: 200px;
    padding: 15px;  
    margin: 0 auto;  
}
#contents #main.top .btn .link a:hover{
    display: block;
    color: #384759;
    background-color: #fff;
    border: solid 2px #384759;
    width: 200px;
    padding: 15px;  
    margin: 0 auto;
    opacity: 1;  
}
#contents #main.top .btn .booking a:hover{
    display: block;
    color: #a40000;
    background-color: #fff;
    border: solid 2px #a40000;
    width: 200px;
    padding: 15px;  
    margin: 0 auto;
    opacity: 1;  
}
@media screen and (min-width:640px) {

#contents #main #news .timeline {
    width: 650px;
    float: left;
}
#contents #main #news .facebook {
    width: 290px;
    float: right;
}
}

#contents #main #news {
    padding-top: 80px;
    margin-bottom: 40px;    
}

#contents #main #news a{
    transition: none;
}


#contents #main #news .block {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
#contents #main #news .timeline .pic{
    width: 150px;
    margin-right: 15px;
    float: left;      
}
#contents #main #news .timeline .txt{
    width: 480px;   
    float: right;
}
#contents #main #news .timeline .block .title{
    width: 380px;   
    font-weight: bold;
    float: left;
    margin-bottom: 10px;
}
#contents #main #news .timeline .date{
    width: 80px;
    float: right;
}

#contents #main #news .timeline .pic img{
    width: 100%;
    height: auto;
}
#contents #main #news .timeline .more {
    text-align: right;
}
#contents #main #news .timeline .more a:hover {
    text-decoration: underline;
    opacity: 1;
}


@media screen and (max-width:640px) {
    #contents #main.top {
        width: 100%;
    }
    #contents #main.top .notice {
        padding-bottom: 150px;
        padding-top: 30px;
    }

    #contents #main.top .area .underline{
        font-size: 1.5em;
        margin-bottom: 25px;
    }
    #contents #main.top .area .underline span {
        font-size: 1em;
        display: inline-block;
    }
    #contents #main.top .greeting {
        padding: 0px;
    }
    #contents #main.top .greeting .img {
    float: none;
    width: 50%;
    margin: 0 auto 20px auto;
    }
    #contents #main.top .greeting .txt02 {
        float: none;
        width: 100%;

    }
    #contents #main.top .dots {
        font-size: 1.3em;
    }
    #contents #main.top .greeting .txt_area {
        margin-bottom: 30px;
    }
    #contents #main .notice .post {
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
        max-height: 247px;
        overflow: hidden;
        float: none;
    }
    #contents #main .notice .post .title,
    #contents #main .notice .post .pic {
        width: 100%;
    }
    /*ポイント*/
    #contents #main .point {
        padding: 30px 5px 30px 5px;
        box-sizing: border-box;
        border-bottom: solid 2px #384759;
    }
    #contents #main .point_list{
        padding: 0 3%;
        margin-bottom: 20px;
    }
    #contents #main .point_list li {
        width: 45%;
        margin-left: 0; 
        margin-bottom: 20px;       
    }
    #contents #main .point_list li:nth-child(even) {
        margin-left: 10%;        
    }

    /*入会までの流れ*/
    #contents #main.top .info {
        padding: 30px 0;
    }
    #contents #main.top .info #lesson_flow {
        padding: 0 3%;
        margin-bottom: 30px;
    }
    #contents #main.top .info #lesson_flow .box {
        float: none;
        margin-bottom: 30px;
        margin-left: 0;
    }
    #contents #main.top .info #lesson_flow .inst {
        text-align: center;
        margin-bottom: 10px;
        margin-left: 0;
    }
    #contents #main.top .info #lesson_flow .box:after {
        position: absolute;
        top: -25px;
        left: 45%;
        border-right: 17px solid transparent;
        border-left: 17px solid transparent;
        border-bottom: 0px solid transparent;
        border-top: 17px solid #384759;
    }

    /*トライアルレッスン説明*/
    #contents #main.top .info #trial_detail {
        padding: 0px;
    }
    #contents #main.top #trial_detail.area .txt_area {
    float: none;
        width: 100%;
        padding: 0 3%;
    }
    #contents #main.top #trial_detail.area .img {
        width: 100%;
        float: none;
        padding: 0 3%;
    }
    #contents #main #news .timeline {
    width: 100%;
    float: none;
    margin-bottom: 30px;
    }
    #contents #main #news .facebook {
    width: 100%;
    float: none;
    height: 400px;
    overflow: hidden;
    }
    #contents #main.top .btn {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    margin: 0;
    }
    #contents #main.top .btn li{
    float: none;
    width: 100%;
    }
    #contents #main.top .btn li:first-child{
        margin-bottom: 20px;
    }
    #contents #main.top .btn .link{
    margin-right: 0;
    }
    #contents #main #news {
        padding-top: 30px;
        margin-bottom: 40px;
    }
    #contents #main #news .timeline .pic {
    width: 40%;
    margin-right: 2%;
    }
    #contents #main #news .timeline .block{
    padding: 0 2% 15px 2%;
    }
    #contents #main #news .timeline .block .txt {
    width: 58%;
    }
    #contents #main #news .timeline .block .title {
    width: 100%;
    }
    #contents #main #news .timeline .date {
    width: 100%;
     float: none; 
    }
    #contents #main #news .timeline .more {
    text-align: center;
    }
    .footlink {
        padding: 0 5%; 
    }
    .footlink li {
     text-align: center; 
     float: none; 
     width: 100%; 
     margin-left: 0; 
     margin-bottom: 15px;
    }
    #footer {
    padding: 40px 0 0 0;
    }
    #footer .footer_main{
    width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
    margin-bottom: 30px;
    }
    #footer #pagetop {
        width: 18%;
    }
    #footer #pagetop.static {
    position: absolute;
    top: -65px;
    }
    #footer #pagetop a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    }

    #footer .logo {
    width: 50%;
    float: none;
    margin: 0 auto 20px auto;
    }
    #footer .address {
    width: 100%;
    float: none;
    padding: 0; 
    text-align: center;
    margin-bottom: 20px;    
    }
    #footer .address li:first-child {
    width: 50%;
    margin: 0 auto 10px auto;
    }
    #footer .sns {
        float: none;   
    }
    #footer #footer_contact {
    padding: 0;
    margin-bottom: 90px;
    }
    #footer #footer_contact .contact {
    width: 100%;
    float: none;
    }
    #footer #footer_contact .contact li:first-child {
    width: 58%;
    margin-right: 1%;
    }
    #footer #footer_contact .contact li + li  {
    width: 38%;
    }
    #footer #f_navi {
    position: relative;
    border: 1px solid #384759; 
    background-image: url(img/bg01.png);
    margin-bottom: 0;
    }
    #footer #f_navi:before {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 68px;
    content: "";
    background: url(img/line_foot.png) repeat-x left bottom;
    background-size: 100%;
}

    #footer #f_navi li{
    width: 50%;
    box-sizing: border-box;
    float: left;
    border: 1px solid #384759;
    }
    #footer #f_navi li a {
    color: #384759;
    font-weight: bold;
    display: block;
    padding: 20px;
    border-right: none;
    }
    #footer #f_navi li:first-child a {
    border-left: none;
    }
    #footer .copy {
    padding: 10px 0;
}
}


.inner {
    width: 990px;   
    margin: 0 auto; 
}
#main.single,
#main.category,
#main.page {
    float: left;
    width: 650px;
    padding-bottom: 40px;
}
#main.single strong,
#main.category strong,
#main.page strong{
    font-weight: bold;
}
#main.single h4,
#main.category h4,
#main.page h4{
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 5px 10px 5px;
    padding-left: 10px;
    border-left: 3px solid #384759;
}
#main.single img,
#main.page img{
    max-width: 650px;
    height: auto;
}
#sub {
    float: right;
    width: 290px;
    margin-bottom: 50px;       
}

#sub .first_bnr {
    margin-bottom: 30px;
}
#sub .news h2{
    font-size: 20px;
    border: 2px solid #384759;
    background-color: #fffbe8;
    padding: 10px;
    margin-bottom: 10px;
}
#sub .news .post {
    margin-bottom: 30px;
}
#sub .news .post li{
    font-size: 0.9em;
    padding: 8px;
    border-bottom: 1px solid #384759;
}
#sub .link {
    margin-bottom: 30px;
    text-align: center;
}
#sub .link li {
    margin-top: 15px;
}
#sub .link li:first-child{
    margin-top: 0;
}

#page_title h1{
    font-size: 26px;    
    line-height: 1;
}
#page_title .date {
    text-align: right;
}
#contents.news #page_title,
#contents.event #page_title,
#contents.report #page_title{
    font-size: 26px;    
    line-height: 1;
}
#breadcrumb {
    width: 990px;
    margin: 10px auto 25px auto;
}
@media screen and (max-width:640px) {
.inner {
    width: 100%;   
}
#breadcrumb {
    box-sizing: border-box;
    width: 100%;
    padding: 0 3%;
    margin: 10% auto 20px auto;
}
#page_title h1{
    font-size: 1.3em;    
    line-height: 1;
}
#contents.news #page_title,
#contents.event #page_title,
#contents.report #page_title{
    font-size: 1.3em;    
    line-height: 1;
}
#main.single,
#main.category,
#main.page {
    float: none;
    width: 100%;
    padding: 0 3% 40px 3%;
    box-sizing: border-box;
}
#main.single img,
#main.page img{
    max-width: 100%;
    height: auto;
}
#sub {
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3%;
    margin-bottom: 50px;       
}
  
}
#page_title{
    position: relative;
    box-sizing: border-box;
    border:  2px solid #384759;
    background-color: #fffbe8;
    padding: 15px 10px 10px 10px;
    margin-bottom: 40px;    
    line-height: 1;
}

#page_title:after {
    position: absolute;
    bottom: -17px;
    left: 12px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 18px solid #fffbe8;
}
#page_title:before{
    position: absolute;
    bottom: -20px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 20px solid #384759;  
}
/* page.php */

#contents .about .about_point {
    border: 2px solid #384759;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
}

#contents .about .about_point .left_box {
    float: left;
    width: 50%;
}
#contents .about .about_point .left_box h4{
    border: none !important;
    margin: 0 !important;
}
#contents .about .about_point .right_img {
    float: right;
    width: 45%;
}
#contents .about .about_point .notes {
    clear: both;
    width: 100%;
}
#contents .about .teacher_block {
    background: url(img/page/about_img_teacher.jpg) 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding: 35px 7% 35px 40%;
}
#contents .about .teacher_block img{
    width: 100%;
}
#contents .about .teacher_block dt{
    width: 100%;
}  

@media screen and (max-width:640px) {
 #contents .about .teacher_block dt img,
 #contents .about .teacher_block dd img{
    margin-bottom: 10px;  
    }
 #contents .about .teacher_block {
    padding: 25px 5% 30px 40%;
}
 #contents .about .about_point .left_box {
    float: none;
    width: 100%;
}  
#contents .about .about_point .right_img {
    float: none;
    width: 100%;
}
}
#contents #main.page .block {
    border: 2px solid #384759; 
    padding-bottom: 30px;
    margin-bottom: 50px;
}
#contents #main.page .cost_table .cost {
    padding-bottom: 40px;
}
#contents #main.page .block h2 {
    font-weight: bold;
    font-size: 20px;
    background: url(img/bg01.png) 0 0 repeat;
    border-bottom: 2px solid #384759;
    text-align: center;
    padding: 20px 15px;
    margin-bottom: 50px;
}
#contents #main.page h2,
#contents #main.category h2,
#contents #main.single h2  {
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    background: url(img/page/h2_img.png) 0 0 no-repeat;
    padding: 10px 10px 10px 65px;
    margin-bottom: 10px;
}
#lesson_course li{
    background-color: #fffbe8; 
}

#lesson_course li dt{
    position: relative;
    font-size: 18px;
    background-color: #384759;
    color: #fff;
    padding: 5px 20px 5px 25px;
}
#lesson_course li dt:after{
    position: absolute;
    content: "";
    top: 13%;
    right: 1%;
    width: 0px;
    height: 0px;
    border-left: 17px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 17px solid #fffbe8;
}

#lesson_course li dd{
    padding: 5px 10px;
}



#contents #main.page .cost_table .cost > table {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}
#contents #main.page .cost_table .cost > table th,
#contents #main.page .cost_table .cost > table td {
    border-bottom: 1px solid #384759;
    padding: 10px 10px 5px 10px;
}
#contents #main.page .cost_table .cost > table .first th,
#contents #main.page .cost_table .cost > table .first td {
    border-bottom: 4px double #384759;
}
#contents #main.page .cost_table .cost > table th {
    font-size: 18px;
    font-weight: bold;
}
#contents #main.page .cost_table .cost > table td {
    font-size: 16px;
}
#contents #main.page .cost_table .cost > table td span {
    font-size: 14px;
}
#contents #main.page .cost_table .txt{
    font-size: 12px;
    text-align: right;
    width: 80%;
    margin: 0 auto;
}
#contents #main.page .cost_table .link_course{
    text-align: center;
    width: 250px;
    margin: 0 auto;
    box-sizing: border-box;
}
#contents #main.page .cost_table .link_course a{
    display: block;
    border: 2px solid #384759;
    background-color: #384759;
    color: #fff;
    padding:10px;
}
#contents #main.page .cost_table .link_course a:hover{
    background-color: #fff;
    border: 2px solid #384759;
    color: #384759;
    opacity: 1;
}
.name abbr[title] {
    position: relative;
    top: 0;
    left: 0;
    }

.name abbr[title]:after {
    display: none;
    }

.name abbr[title]:hover:after {
    display: block;
    position: absolute;
    top: 1.0em;
    left: 1.0em;
    width: 280px;
    margin: 0.5em;
    padding: 0.5em;
    background: #384759;
    border-radius: 8px;
    color: #FFF;
    font-size: 80%;
    line-height: 1.2em;
    content: attr(title);
    z-index: 2;
    }
.name abbr[title]:hover:before{
    position: absolute;
      width: 0;
      height: 0;
      left: 30px;
      bottom: -5px;
      margin-left: 10px;
      border: solid transparent;
      border-color: rgba(51, 204, 153, 0);
      border-bottom-color: #384759;
      border-width: 10px;
      pointer-events: none;
      content: " ";
}
#contents #main.page .cost_table .case {
    position: relative;
    border: 1px solid #384759;
    border-radius: 20px; 
    box-sizing: border-box; 
    width: 80%;
    padding: 20px 30px;
    margin: 0 auto 10px auto;  
}
#contents #main.page .cost_table .case .tit {
    position: absolute;
    top: -23px;
    left: 30px; 
    font-weight: bold;
    background-color: #FFF;
    padding: 10px;
}
#contents #main.page .cost_table .case > table th,
#contents #main.page .cost_table .case > table td {
    border-bottom: 1px solid #384759;
}
#contents #main.page .cost_table .case > table th {
    padding-right: 30px;
}
#contents #main.page .cost_table .case .txt {
    position: absolute;
    top: 10%;
    right: -50px;
    color: #fff;
    background-color: #8ec752;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    text-align: center;
    padding: 17px 7px;
    box-sizing: border-box;
    transform: rotate(10deg);
}
#contents #main.page .cost_table .case .txt span {
    font-size: 28px;
}

#contents #main.page .cost_table .benefits {
    width: 85%;
    margin: 0 auto;
}
#contents #main.page .cost_table .benefits dt {
    float: left;
    color: #fff;
    background-color: #8ec752;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    text-align: center;
    padding: 17px 7px;
    box-sizing: border-box;
    transform: rotate(-10deg);
    margin-right: 25px;
}
#contents #main.page .cost_table .benefits dt span {
    font-size: 28px;
}
#contents #main.page .cost_table .benefits dd {
    float: left;
    font-size: 20px;
    padding-top: 40px;
}
#contents #main.page .cost_table .benefits dd span {
    font-weight: bold;
    font-size: 26px; 
    color: #a40000;   
}


#contents  #lesson_flow ol {
    padding: 0px 50px;
}
#contents  #lesson_flow ol .box {
    position: relative;
    margin-bottom: 30px;
    border: solid #384759 1px;
    border-radius: 15px;
    padding: 10px 50px;
}
#contents  #lesson_flow ol .box:after {
    position: absolute;
    top: -25px;
    left: 45%;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 17px solid #384759;
    }
#contents  #lesson_flow ol .box:first-child:after{
    display: none;
}
#contents  #lesson_flow .step {
    position: absolute;
    top: -10px;
    left: -10px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: #384759;
    border-radius: 25px;
    box-sizing: border-box;
    line-height: 1;
    padding: 5px 15px;
    margin-right: 15px;
}
#contents  #lesson_flow .step span {
    font-weight: bold;
    font-size: 30px;
}
#contents  #lesson_flow .inst {
    font-weight: bold;
    font-size: 18px;

}
/* コース内容 */
#main.course #lesson_course li{
    width: 49%;
    float: left;
    box-sizing: border-box;
    border: 2px solid #384759;
    margin-bottom: 20px;
}
#main.course #lesson_course li:nth-child(odd){
    margin-right: 1%;
}
#main.course #lesson_course li:nth-child(even){

}
@media screen and (max-width:640px) {
    #contents #main.page .cost_table .cost {
        padding-bottom: 10px;
    }
    #contents #main.page .block h2 {
        margin-bottom: 10px;
    }
    #contents #main.page .cost_table .case {
        border: none;
        border-radius: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 8px 5px 8px;
        margin: 0 auto;
    }
    #contents #main.page .cost_table .case > table {
        width: 100%;
        margin-bottom: 10px;
    }
    #contents #main.page .cost_table .case > table th{
        padding-right: 5px;
    }
    #contents #main.page .cost_table .case > table td{
        text-align: right;
    }
    #contents #main.page .cost_table .case .tit {
    position: static;
    text-align: center;
    font-size: 1.3em;
    top: 0px;
    left: 0px;
    font-weight: bold;
    background-color: none;
    padding: 0;
    margin-bottom: 10px;
}
    #contents #main.page .cost_table .case .txt {
        position: static;
        top: 0;
        left: 0;
        color: #fff;
        background-color: #8ec752;
        width: 100%;
        height: 33px;
        border-radius: 10px;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
        transform: rotate(0deg);
        margin: 0;
    }
    #contents #main.page .cost_table .cost > table {
        width: 100%;
    }
    #contents #main.page .cost_table .cost > table th,
    #contents #main.page .cost_table .cost > table td {
        font-size: 1em;
    }
    #contents #main.page .cost_table .benefits {
        width: 100%;
        padding: 3%;
        box-sizing: border-box;
    }
    #contents #main.page .cost_table .benefits dt {
        float: none;
        color: #fff;
        background-color: #8ec752;
        width: 100%;
        height: 35px;
        border-radius: 10px;
        text-align: center;
        padding: 7px;
        box-sizing: border-box;
        transform: rotate(0deg);
        margin-right: 0;
    }
    #contents #main.page .cost_table .benefits dd {
        float: none;
        text-align: center;
        font-size: 20px;
        padding-top: 5px;
    }

    #main.course #lesson_course li {
        width: 100%;
    }
    #main.course #lesson_course li:nth-child(odd){
    margin-right: 0;
    }
    #contents #main #lesson_flow ol {
    padding: 10px;
    }
    #contents #main #lesson_flow .step {
        left: 5px;
        top: 5px;
    }
    #contents #main #lesson_flow ol .box {
    margin-bottom: 30px;
    border: solid #384759 1px;
    border-radius: 15px;
    padding: 20px 10px;
    }
    #contents #main #lesson_flow .inst {
    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
    margin-bottom: 10px;
}
}

/* single.php */
#page_navi {
    padding: 50px 0;
    text-align: center;
}
#page_navi li {
    display: inline;
}
#page_navi .before a {
    color: #384759;
    background-color: #fffbe8;
    border: 2px solid #384759;
    padding: 5px 20px;
}
#page_navi .next a {
    color: #384759;
    background-color: #fffbe8;
    border: 2px solid #384759;
    padding: 5px 20px;
}
#page_navi .back a {
    color: #fff;
    background-color: #384759;
    border: 2px solid #384759;
    padding: 5px 20px;
}

#pager {
    padding-top: 50px;
    text-align: center;
}
#pager span{
    display: inline-block;
    color: #ccc;
    background-color: #384759;
    border: 2px solid #384759;
    padding: 3px 12px;
}
#pager a{
    display: inline-block;
    color: #384759;
    background-color: #fffbe8;
    border: 2px solid #384759;
    padding: 3px 12px;
}
#pager a.next {
    background: none;
    border: none;
}

/* category.php */
#main.category .post{
    position: relative;
    padding-bottom: 50px;
    border-bottom: 2px solid #384759;
    margin-bottom: 50px;
}
#main.category .post h2{
    width: 70%;
}
#main.category .post .date{
    position: absolute;
    top : 0;
    right: 0;
    font-size: 18px;
    text-align: right;
    
    background-color: #384759;
    color: #fff;
    padding: 5px;
}
#main.category .post .pic {
    float: left;
    width: 280px;
}
#main.category .post .pic img{
    width: 100%;
    height: auto;
}
#main.category .post .text {
    width: 350px;
    float: right;  
}
#main.question dl{
    margin-bottom: 30px;    
}
#main.question .faq_list{
    position: relative;
    font-size: 18px;    
    border: 2px solid #384759;
    background-color: #fffbe8;
    padding: 5px; 
}
#main.question .faq_list:after{
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    background-color: #384759;
    border-radius: 13px; 
    right: 10px;
    top: 5px;        
}
#main.question .faq_list:before{
    position: absolute;
    content: "+";
    font-size: 25px;
    color: #fff;
    right: 15px;
    top: 6px;
    z-index: 999;      
}
#main.question .faq_list span{
    font-size: 20px;  
    font-weight: bold;
    margin-right: 10px;   
    vertical-align: top;
}
#main.question dd {
    display: none;
    border: 2px solid #384759;
    border-top: none;
    padding: 10px;
}
#main.question dd span {
    font-size: 20px;  
    font-weight: bold;
    margin-right: 10px; 
}
#main.question dt .que {
    display: inline-block;
    width: 90%; 
}

/* contact */
.form_table {
    width: 100%;
    margin: 0 auto 30px auto;
}
.form_table th {
    position: relative;
}
.form_table th .txt {
    font-size: 12px;
}
.form_table th,
.form_table td{
    border: 2px solid #384759;
    padding: 10px 15px; 
}
.form_table th {
    width: 30%;
    color: #384759;
    background-color: #fffbe8;
    }
.form_table th span{
    position: absolute;
    right: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color:  #384759;
    display: inline-block;
    padding: 3px;
    line-height: 1;
    width: 28px;
}
.form_table td input[type="text"],
.form_table td input[type="email"],
.form_table td input[type="tel"],
.form_table td input[type=date],
.form_table td select{
    padding: 8px;
    font-size: 16px; 
}
.form_table td textarea {
    width: 90%;
}
.send {
    text-align: center;
}
.send input{
    border: none;
    background-color: #384759;
    padding: 10px 25px;
    color: #fff;
}
@media screen and (max-width:640px) {
    .form_table th,
    .form_table td {
        border-top:  none;
        width: 100%;    
        display: block;
        box-sizing: border-box; 
    }
    .form_table {
        border-top:  2px solid #384759;
    }
    .form_table td input[type="text"],
    .form_table td input[type="email"],
    .form_table td input[type="tel"],
    .form_table td input[type=date],
    .form_table td select{
    padding: 8px;
    font-size: 16px; 
    width: 100%; 
    margin: 0 auto; 
    box-sizing: border-box;
}


}

/*# sourceMappingURL=style.css.map */
.article img {
    margin-bottom: 30px;    
}
.article h2 {
    margin-bottom: 30px;    
}
.article h3 {
    font-size: 1.4em;
    margin: 2em 0 1em 0;
    color: #fff;
    background-color: #384759;
    padding: 0.5em 1em;
    border-left: 1.3em solid #849cb9;
}
.article .article_list {
    width: 80%; 
    border: 2px solid #384759;
    padding: 15px;
    margin: 30px auto;   
}
.article .article_list li{
    display: inline-block;
    width: 48%; 
}
