/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/09/26, 9:36:53
    Author     : 秀夫
*/
#wrapper #head #logo_narrow{
    display:none;
}

#wrapper #wrap #custom_header_narrow{
    display: none;
}

/*============================ NAVIGATION ============================*/

#navi_narrow {
    position:absolute;
    left:-220px;
    top:0;
}

#navi_narrow {
	margin: 0;
	float: left;
	padding: 0 10px;
	width: 200px;
	background-color: #333;
}
#nav_narrow, #nav_narrow ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#nav_narrow li{
	//float:left;
	position:relative;
}
#nav_narrow a{
	display: block;
	padding: 10px 15px;
    font-size: 1.0em;
    font-weight: bold;
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
    color: #fff;
}

#nav_narrow ul {
	//position: absolute;
	//display: none;
	z-index: 99;
	background: #333;
}
#nav_narrow ul a {
	//width: 180px;
	//padding: 10px;
	//float: left;
	//border-bottom: 1px solid #444;
	//font-weight: normal;
}
#nav_narrow .sub-menu li{
    padding-left:1em;
    background: url(images/arrow.png) no-repeat;
    background-position: 1em 1em;
}
#nav_narrow ul ul{
	top: 0;
}
#nav_narrow li ul ul {
	//margin-left: 200px;
}

#nav_narrow li.current_page_item a, #navi li.current-menu-item a{
	text-decoration: underline;
}

#nav li {
    float: left;
    position: relative;
}




#navi_narrow_bar {
    background-color: #333;
    overflow: auto;
    display:none;
    cursor: pointer;
}

.navi_narrow_bar_caption {
    padding: 14px;
    color:#fff;
    font-weight: bold;
}

#navi_narrow_bar .sb-toggle-left {
	width: 25px;
	float: left;
	padding: 14px;
}

#navi_narrow_bar .sb-toggle-right {
	width: 58px;
	float: right;
	padding: 14px;
}


.sb-right {
	margin-top: 50px;
}

.navicon-line {
	width: 24px;
	height: 4px;
	border-radius: 1px;
	margin-bottom: 3px;
	background-color: #fff;
}

ul.navbar-nav {
	display: none;
}

@media screen and (max-width:640px){
#wrapper {
    padding:0;
    position:absolute;
}

#wrapper #wrap, 
#wrapper #wrap #navi, 
#wrapper #header {
    width:100%;
}

#wrapper #wrap{
    margin:0 auto;
}

#wrapper #topnavi {
    margin: 0;
}

#wrapper #wrap #navi{
    padding:0;
}

#wrapper #wrap #sidebar,
#wrapper #wrap #content{
    width:100%;
    float:none;
    margin-left:0;
    padding:10px 0;
}
#wrapper #head #logo,
#wrapper #head #logo_narrow{
    width:100%;
}
#wrapper #head #logo img,
#wrapper #head #logo_narrow img{
    width:100%;
}

#wrapper #wrap #custom_header{
    line-height: 0;
}
#wrapper #wrap #custom_header img{
    width:100%;
}

#wrapper #wrap #custom_header_narrow{
    line-height: 0;
}
#wrapper #wrap #custom_header_narrow img{
    width:100%;
    height: 100%;
}

#wrapper #wrap #content {
    margin: 0 1%;
    width:98%;
}
#wrapper #wrap #content img{
    max-width:100%;
    margin-right:0!important;
    margin-left:0!important;
}
}

@media screen and (max-width: 360px){
#wrapper #head #logo{
    display:none;
}
#wrapper #head #logo_narrow{
    display:block;
}
#wrapper #header{
    margin:0 auto;
}

}

@media screen and (max-width: 450px){
#wrapper #wrap #custom_header{
    display: none;
}
#wrapper #wrap #custom_header_narrow{
    display: block;
}
#navi{
    display: none;
}
#navi_narrow_bar{
    display:block;
}
#wrapper #head,
#wrapper #header{
height:100%;
}

#content .info_thumbnail {
    width: 100px!important;
}
#content .info_thumbnail dt {
    width: 95px!important;
    min-width: 95px!important;
}

#content .article dd {
    margin-left: 110px!important;
}

#content dl{
}

#content dt{
}

#content dd{
}

}