/*
Theme Name: Impact
Template: zeedisplay
*/


#content dl{
	text-align:center;
}

#content dt{
	text-align: center;
    display: inline-block;
    background-color: #026d98;
    color: #fff;
    min-width: 150px;
    width: 30%;
    padding: 0.2em;
    margin: 0.5em 0 0;
}

#content dd{
    text-align: left;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0.2em 0.5em;
    width: 50%;
}



#content .mini_button {
	text-align: right;
}

#content .mini_button a {
    background-color: #0066ee;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.1em;
    font-weight: bold;
	display: inline-block;
    margin-bottom: 0.5em;
	width: 180px;
  text-align: center;
}
#content .mini_button a span.small{
	text-align: left;
  	display:block;
	font-size:80%;
}
#content .mini_button a span.large{
  display:block;
	font-size:140%;
}
#content .mini_button a:hover {
	background-color: #157eb5;
}

#content .voice-subhead {
	background-color: #3879d9;
    background: linear-gradient(#7bc5eb, #3879d9) fixed;
	padding: 3px;
	margin-top: 2em;
}

#content .voice-subhead div.voice-subhead-inner{
	font-size: 170%;
	line-height: 1.2;
	color: #fff;
    font-weight: bold;
    display: block;
    border: 3px solid #fff;
	padding: 1em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

#content .voice-subhead div.smallhead span{
	font-size: 60%;
	font-weight: normal;
    text-align: left;
    display: inline-block;
    margin-top: 1em;
	width: 55%;
}

#content .smallhead{
	text-align: right;
}

#content .contact-form label span {
    display: inline-block;
    color: #666;
}

#content .contact-form label .radio span {
    margin-left: 0;
}
    
#content .your-message{
    width:99%;
}
#content .your-message textarea{
    width:100%;
}
#content .contact-form label {
    margin-bottom: 0;
    margin-right:1em;
}
#content .contact-form input[type=checkbox], 
#content .contact-form input[type=radio] {
    margin-bottom: 0;
}

#content .contact-form div{
    margin :1em 0 0 0;
}

#content .contact-form input{
    margin :0 0 0 5px;
}

/*============================ RESET ============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
option, select
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
	vertical-align: baseline;
}
/*============================ SETUP ============================*/
html {
	font-size: 100.01%;
}
body {
	font-size: 0.9em;
	border: 0;
	color: #222;
}
ul, ol {
	list-style: none;
}
img {
	border: none;
}

/*********************************************************************/
/* clearfix Start */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  display: inline-table;
  min-height: 1px;
}
* html .clearfix {
  height: 1px;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
}
/* clearfix End */
/*********************************************************************/

a, a:link, a:visited{
    color: #0066ee;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active  {
  text-decoration: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

input, textarea, select {
	background-color: #f5f5f5; 
	margin: 5px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
        padding:5px;
	color: #333;
}
select{
    border:1px solid #eee; 
}


/*============================ WRAPPER ============================*/
#header {
    margin: 0 auto;
	width: 900px;
	height: 70px;
}
/*============================ STRUCTURE ============================*/
#wrap {
	clear: both;
	margin: 30px auto;
	width: 900px;
	padding: 20px 0 0;
	text-align: left;
	background: #fff;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#content {
	float: left;
	width: 530px;
	/*margin-top: 20px;*/
	padding: 25px 25px 10px;
        
}
.fullwidth {
	width: 860px !important;
}

/*============================ SIDEBAR ============================*/
#sidebar {
	width: 290px;
	padding-top: 25px;
	margin-left: 585px;
}
#sidebar .widgettitle {
	color: #0066ee;
	padding: 5px 15px;
	margin-bottom: 5px;
	font-size: 1.1em;
	font-weight: bold;
	border: 1px solid #ccc;
	background: url(images/sidebar_bg.png) repeat-x #ddd;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#sidebar ul li {
	margin-bottom: 20px;
}
#sidebar ul li ul, #sidebar ul li>div{
	margin-bottom: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#sidebar ul li div ul, #sidebar ul li div ul li {
	border: none;
	margin: 0;
	padding: 0;
}
#sidebar ul li ul {
	list-style: circle inside;
	color: #777;
}
#sidebar a, #sidebar ul {
	font-size: 1.0em;
}

#sidebar ul ul li {
	margin: 5px 10px;
	padding: 0;
	border: 0;
}
#sidebar ul ul ul {
	border: none;
	padding: 0;
}
#sidebar .children {
	margin-top: 10px;
	margin-left: 10px;
	background: none;
}
/*============================ WIDGETS ============================ */
/* Theme SocialMedia Widget */
.widget-social-icons img{
	margin: 1px;
}
/* Theme Ads Widget */
.widget-ads img{
	margin: 3px;
}
/* Theme Search Widget */
.screen-reader-text {
	display: none;
}
#s {
	background: #eee;
	border: 1px solid #ddd;
	padding: 6px 5px;
	font-size: 1.0em;
	font-weight: bold;
	color: #333;
	width: 150px;
}
#searchsubmit {
	margin-left: 5px;
	padding: 5px 10px;
	color: #333;
	font-size: 1.0em;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #ddd;
	background: url(images/button.png) repeat-x #eee;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#searchsubmit:hover {
	background: url(images/button_hover.png) repeat-x #eee;
}
/*============================ HEADER ============================*/
#head {
	height: 60px;
	margin-top: 10px;
}
#logo {
	float: left;
    width: 300px;
	margin-top: 15px;
}
#logo h1 {
	padding: 0 10px;
	font-size: 2.7em;
	color: #333;
}
#logo a {
	text-decoration: none;
}
/*============================ TOP NAVIGATION ============================*/
#topnavi {
	float: right;
	margin: 20px 0;
	padding: 0 10px;
	border: 1px solid #ddd;
	background: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#topnav, #topnav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#topnav li{
	float:left;
	position:relative;
}
#topnav a{
	display: block;
	padding: 10px 15px;
    font-size: 1.0em;
    font-weight: bold;
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
    color: #333;
}
#topnav a:link, #topnav a:visited{
	text-decoration: none;
}
#topnav a:hover{
	text-decoration: underline;
}
#topnav ul {
	position: absolute;
	display: none;
	z-index: 99;
	background: #fff;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#topnav ul a {
	width: 180px;
	padding: 7px 10px;
	float: left;
	border-top: none;
	font-weight: normal;
}
#topnav ul a:hover {
	text-decoration: underline;
}
#topnav ul ul{
	top: 0;
	margin-top: 2px;
}
#topnav li ul ul {
	margin-left: 180px;
}
#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li:hover ul ul ul ul{
	display:none;
}
#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li li li:hover ul{
	display:block;
}
#topnav li.current_page_item a, #topnavi li.current-menu-item a {
	color: #0066ee;
	text-decoration: underline !important;
}
/*============================ NAVIGATION ============================*/
#navi {
	margin: 0;
	float: left;
	padding: 0 10px;
	width: 880px;
	background: url(images/navi_bg.png) repeat-x #333;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-khtml-border-top-left-radius:10px;
	-khtml-border-top-right-radius:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#nav, #nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#nav li{
	float:left;
	position:relative;
}
#nav a{
	display: block;
	padding: 10px 15px;
    font-size: 1.0em;
    font-weight: bold;
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
    color: #fff;
}
#nav a:link, #nav a:visited{
	text-decoration: none;
}
#nav a:hover{
	color: #ccc;
	background: #333;
}
#nav ul {
	position: absolute;
	display: none;
	z-index: 99;
	background: #333;
}
#nav ul a {
	width: 180px;
	padding: 10px;
	float: left;
	border-bottom: 1px solid #444;
	font-weight: normal;
}
#nav ul a:hover {
	color: #fff;
	background: #444;
}
#nav ul ul{
	top: 0;
	margin-top: -1px;
	border-top: 1px solid #444;
	border-left: 1px solid #444;
}
#nav li ul ul {
	margin-left: 200px;
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
	display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
	display:block;
}
#nav li.current_page_item a, #navi li.current-menu-item a{
	text-decoration: underline;
}
/*============================ More_Posts, Calendar ============================*/
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #555;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 0 5px 5px;
	text-align: left;
}
#wp-calendar th{
	color: #333;
	font-size: 0.9em;
	font-weight: bold;
    text-align: center;
}
#wp-calendar td{
	text-align: center;
}
.more-link {
	display: block;
	float: right;
	margin: 35px 0 10px;
	text-decoration: none !important;
	color: #333 !important;
	font-size: 0.9em;
	font-weight: bold;
}
.moretext {
	padding: 5px 15px;
	background: url(images/button.png) repeat-x;
	border: 1px solid #ddd;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.moretext:hover {
	background: url(images/button_hover.png) repeat-x;
}
/*============================ POST ============================*/
.post {
	margin: 5px 10px 35px 0;
}
.sticky, .bypostauthor { }

.post-title {
	padding-bottom: 2px;
	font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
	font-size: 1.9em;
	font-weight:normal;
	color:#0066ee;
}
.page-title {
	font-size: 1.8em;
    font-size: 1.8em;
    border-left: 3px solid #026d98;
    border-bottom: 1px solid #026d98;
    padding: 0 0.5em;
   margin-bottom: 1em;

}
.post-title a:link, .post-title a:visited {
	color:#0066ee;
	text-decoration: none;
}
.post-title a:hover, .post-title a:active {
	color: #555 !important;
}
.entry {
	margin: 15px 0 5px;
	line-height: 1.5em;
}
.entry h1, .comment h1 {
	font-size: 1.9em;
	margin: 30px 0 0 0;
	color: #444;
}
.entry h2, .comment h2 {
	font-size: 1.7em;
	margin: 25px 0 0 0;
	padding: 0;
	color: #444;
        line-height: 1.2;
}
.entry h3, .comment h3 {
	font-size: 1.5em;
    margin: 2em 0 1em 0;
    color:#fff;
    background-color: #89ce41;
    padding: 0.5em 1em;
    border-left: 1.3em solid #d7dd7b;
}
.entry h3 span, .comment h3 span{
	color:#fff!important;
}
.entry h4, .comment h4 {
	font-size: 1.3em;
    margin: 2em 0 1em 0;
    background-color: #89ce41;
    padding: 0.5em 1em;
	color:#fff;
}
.entry h4 span, .comment h4 span{
	color:#fff!important;
}
	
.entry h5 , .comment h5{
	font-size: 1.2em;
	margin: 10px 0 0 0;
	color: #444;
	font-weight: bold;
}
.entry h6, .comment h6 {
	font-size: 1.0em;
	margin: 5px 0 0 0;
	color: #444;
	font-weight: bold;
}
.entry p {
	margin: 5px 0 15px 0;
}
.arh {
	font-size: 1.4em;
	color:#444;
	padding: 10px 15px;
	margin: 10px 5px 20px 0;
	border: 1px solid #ccc;
	background: url(images/sidebar_bg.png) repeat-x #ddd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.postmeta {
	font-size: 0.9em;
	margin-bottom: 5px;
}
.postmeta a:link, .postmeta a:visited {
	color:#444;
	text-decoration: underline;
}
.postmeta a:hover, .postmeta a:active {
	color: #666;
	text-decoration: none;
}
.postinfo {
	margin: 10px 0;
	padding: 5px 15px;
	color: #333;
	font-size: 0.9em;
	background: url(images/sidebar_bg.png) repeat-x #ddd;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.postinfo a {
	margin: 0 !important;
	padding: 0 !important;
	text-decoration: none !important;
}
.postinfo a:hover{
	text-decoration: underline !important;
}
span.folder,span.tag,span.comment,span.author,span.date{
	padding: 0 5px 3px 19px;
}
span.date{
	background: url(images/date.png) no-repeat top left;
}
span.author{
	background: url(images/author.png) no-repeat top left;
}
span.folder{
	background: url(images/category.png) no-repeat top left;
}
span.comment{
	background: url(images/comment.png) no-repeat top left;
}
span.tag{
	background: url(images/tag.png) no-repeat top left;
}
.author_box {
	border: 1px solid #ddd;
	margin: 20px 5px 30px 0;
	padding: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.author_image {
	float: left;
	margin-right: 15px;
}
.author_image img {
	margin: 0;
	border: 4px solid #ddd;
}
.author_info h5 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
	color: #444;
}
.author_description {
	color: #666;
}
.author_website {
	margin-top: 10px;
	font-size: 0.9em;
}
/*============================ Text Elements ============================*/
.entry ul, .comment ul{
	list-style: square inside;
	margin: 0 0 20px 1.5em;
}
.entry ol, .comment ol{
	list-style: decimal inside;
	margin: 0 0 20px 1.5em;
}
.entry ol ol, .comment ol ol{
	list-style: upper-alpha inside;
}
.entry ol ol ol, .comment ol ol ol{
	list-style: lower-roman inside;
}
.entry ol ol ol ol, .comment ol ol ol ol{
	list-style: lower-alpha inside;
}
.entry ul ul, .comment ul ul,
.entry ol ol, .comment ol ol,
.entry ul ol, .comment ul ol
.entry ol ul, .comment ol ul {
	margin-bottom: 5px;
}
dl {
	margin: 10px 0 20px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 20px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 1.3em;
}
ins {
	padding: 1px 2px;
	background: #ffa;
	text-decoration: none;
}
code, pre {
	padding: 3px 8px;
	margin: 0 1px;
	background: #eeeeee;
	color: #222 !important;
	font-size: 0.9em;
	font-family: Monospace, "Courier New", Courier;
	overflow: auto;
}
del, strike, s{
	text-decoration: line-through;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
small {
	font-size: 0.7em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 0.8em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.entry var, .entry kbd, .entry tt {
	font-size: 1.1em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}
blockquote {
	margin-left: 30px;
	padding: 15px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-align: justify;
	color: #666;
}
blockquote:before { 
	content:open-quote;
	color: #777;
	font-size: 60px;
	line-height: 15px;
	float: left;
	margin-left: -40px;
	font-family: "Times New Roman";
}
blockquote:after{ 
	content:close-quote;
	color: #777;
	font-size: 60px;
	line-height: 15px;
	float: right;
	margin-top: -10px;
	font-family: "Times New Roman";
}
.entry table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	margin: 20px 0;
	text-align: left;
	width: 100%;
}
.entry tr th,
.entry thead th {
	color: #555;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1.0em;
	padding: 5px 15px;
}
.entry tr td {
	border-top: 1px solid #ddd;
	padding: 5px 15px;
}
.entry tr.odd td {
	background: #eee;
}
/*============================ POST Images ============================*/
.entry img {
	max-width: 100%;
	height: auto;
}
.wp-caption  {
	margin: 5px;
	max-width: 100%;
	padding: 6px 3px;
	background: #eee;
	border: 1px solid #ccc;
	text-align: center;
}
.wp-caption-text {
	margin: 0 !important;
	padding: 0;
	font-size: 0.8em;
	text-align: center;
}
.alignleft { 
	float: left; 
	display: inline; 
	margin: 10px 15px 10px 5px;
}
.alignright	{
	float: right; 
	display: inline; 
	margin: 10px 5px 10px 15px;
}
.aligncenter {
	margin: 10px auto; 
	display: block;
}
.wp-post-image {
	border: 5px solid #f0f0f0;
}
.gallery {
     margin: 10px auto;
}
.gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 33%;
}
.gallery-caption {
	padding: 0 5px;
}
#image-nav span {
	display: block;
	margin: 10px 0;
}
#image-nav .nav-previous {
	float: left;
}
#image-nav .nav-next {
	float: right;
}
#image-nav .nav-previous a, #image-nav .nav-next a{
	padding: 5px 10px;
	font-size: 0.9em;
	font-weight: bold;
	border: 1px solid #ddd;
	background: url(images/button.png) repeat-x #ddd;
	color: #333 !important;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#image-nav .nav-previous a:hover, #image-nav .nav-next a:hover {
	background: url(images/button_hover.png) repeat-x #fff;
}
/*============================ Featured Posts Slider ============================*/
#content-slider {
	margin: 0 5px 20px 0;
	padding: 20px 20px 0 20px;
	border: 1px solid #ddd;
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#slideshow {  
    width: 490px;  
    padding: 0;  
    margin:  0;
}
#slideshow .post{  
    padding: 0;
	margin: 0;
	border: none;
}
#slideshow .post h2 {
	font-size: 1.9em;
	font-weight:normal;
}
#slide_panel {
	margin: 10px 0;
	height: 25px;
	width: 495px;
	padding: 10px 15px;
	border: 1px solid #ccc;
	background: url(images/sidebar_bg.png) repeat-x #ddd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#slide_head {
	float: left;
	font-size: 1.4em;
	color: #444;
}
#slide_keys {
	float: right;
	margin-top: 5px;
}
#slide_keys a:link, #slide_keys a:visited {
	font-size: 1.2em;
	font-family: Arial, Verdana;
	cursor: pointer;
	margin-right: 5px;
	padding: 5px;
	font-weight: bold !important;
	text-decoration: none;
}
#slide_keys a:hover {
	text-decoration: underline;
}
/*============================ Comments ============================*/
#comments, #respond {
	padding: 5px;
	background-color: #fff;
}
#comments h3, #respond h3 {
	font-size: 1.4em;
	color:#444;
	padding: 10px 15px;
	margin: 10px 5px 20px 0;
	border: 1px solid #ccc;
	background: url(images/sidebar_bg.png) repeat-x #ddd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
/* Reset #comments h3 */ 
.comment h3 {
	padding: 0 !important;
	margin: 10px 0 !important;
	border: none !important;
	background: none !important;
}
.commentmetadata a:link, .commentmetadata a:visited {
	color:#444;
	text-decoration: none;
}
.commentmetadata  a:hover, .commentmetadata  a:active {
	color:#555;
	text-decoration: underline;
}
.comment_navi {
	margin: 10px;
	font-size: 0.9em;
	font-weight: bold;
}
.comment_navi .alignright {
	float: right;
}
.commentlist {
	text-align: left;
}
.commentlist .comment {
	margin: 15px 0 10px;
	padding: 15px;
	list-style: none;
	border: 1px solid #ddd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.comment-author img {
	float: left;
	margin: 5px 10px 15px 0;
}
.comment-author .says {
	display: none;
}
.comment-author .fn {
	line-height: 30px;
	color: #006bff;
	font-weight: bold;
	font-size: 1.2em;
	font-style: normal;
}
.commentlist .children {
	margin-top: 10px;
	margin-left: 25px;
}
.commentlist .children .comment{
	background: #f5f5f5;
}
.commentlist .children .comment ul .comment {
	background: #eee;
}
.commentlist p {
	clear: left;
	margin: 10px 5px 10px 0;
}
.comment-reply-link {
	text-decoration: underline !important;
}
#commentform {
	margin: 5px 10px 0 0;
}
#commentform p {
	margin: 5px 0 15px 10px;
}
#commentform input {
	display: block;
	width: 250px;
	border: 1px solid #ddd;
	padding: 5px;
	margin: 0 0 15px 0;
}
.comment-form-comment {
	padding-right: 10px;
}
#commentform textarea {
	display:block;
	width: 100%;
	border: 1px solid #ddd;
	padding: 5px;
	margin: 0 10px 20px 0;
}
#commentform #submit {
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #ddd;
	background: url(images/button.png) repeat-x #eee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#commentform #submit:hover {
	background: url(images/button_hover.png) repeat-x #eee;
}
#commentform label {
	font-size: 1.0em;
	font-weight: bold;
}
.nocomments {
	margin: 10px;
	padding: 0;
}
/*============================ WP-Pagenavi ============================*/
.wp-pagenavi {
	margin: 5px;
	padding: 0 5px;
}
.wp-pagenavi .pages {
    float: right;
	margin-top: -5px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	background: url(images/button.png) repeat-x #eee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.wp-pagenavi a {
    margin: 0 5px 0 0;
    padding: 3px 8px;
    color: #333 !important;
    text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #ddd;
	background: url(images/button.png) repeat-x #eee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.wp-pagenavi a:hover {
	background: url(images/button_hover.png) repeat-x #eee;
}
.wp-pagenavi .current {
    margin: 0 5px 0 0;
    padding: 3px 8px;
    background-color: #0066ee;
    color: #fff;
    text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
/*============================ BOTTOM BAR ============================*/
#bottombar {
	margin-top: 20px;
	padding: 15px 10px;
	background: #444;
	border-top: 7px solid #666;
}
#bottombar .widgettitle {
	color: #fff;
	background: url(images/navi_bg.png) repeat-x #505050;
	height: 30px;
	line-height: 30px;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0 15px;
	margin-bottom: 15px;
	font-family: Arial, Helvetica, Tahoma;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#bottombar ul .widget {
	width: 198px;
	float:left;
	margin: 10px 5px;
	padding: 5px;
	border: 1px solid #505050;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#bottombar ul li div {
	margin: 0;
	padding: 0 5px;
	line-height: 1.5em;
}
#bottombar ul li ul {
	padding: 0 5px;
	list-style: circle inside !important;
	color: #ddd;
}
#bottombar a, #bottombar ul {
	color:#fff;
	font-size: 1.0em;
	text-decoration: none;
}
#bottombar a:hover {
	color:#aaa;
	text-decoration: underline;
}
#bottombar ul ul li {
	margin: 0;
	padding: 3px;
	border: none;
}
/*============================ FOOT ============================*/
#footer {
	clear: both;
	margin: 0 0 10px 0;
	padding: 15px 0 10px 30px;
	/*height: 25px;*/
	background: url(images/navi_bg.png) repeat-x #333;
	font-family: Arial, Helvetica, Tahoma;
	color: #fff;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-khtml-border-bottom-left-radius:10px;
	-khtml-border-bottom-right-radius:10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#footer p {
	font-size: 0.9em;
	color: #555;
	padding: 10px;
	margin: 0;
	text-align: left;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	text-decoration: none;
}
.credit_link {
	float: right;
	font-size: 0.8em;
	margin: 3px 20px 0 0;
}

#content .info_thumbnail{
    width:150px;
    float:left;
    border: 5px solid #f0f0f0;
    
}

#content .info_thumbnail img{
    display: block;
    
}
#content .article{
    overflow: hidden;
    margin-bottom: 25px;
}

#content .article p{
    color: #666;
}

#content .article h4{
    font-weight: bold;
    font-size:150%;
    color: #666;
}

.article a{
    display:block;
    overflow: hidden;
}

#content .info_thumbnail dt{
    width: 145px;
    min-width: 145px;
    margin: 0;
    padding: 2.5px;
}

#content .article dd{
    border-bottom: none;
    padding: 0 10px 0;
    width: auto;
    margin-left: 160px;
    display: block;
}

#content .article .more{
    text-align: right;
}

#content .article .more span{
    display:inline-block;
    padding: 3px 8px;
    background-color: #0066ee;
    color: #fff;
}

#sidebar .display-posts-listing img{
    width: 50px;
    height: 50px;
    float:left;
}

#sidebar .display-posts-listing .title{
    display: block;
}

#sidebar .display-posts-listing .excerpt-dash {
    display:none; 
}

#sidebar .listing-item{
    margin: 0 0 1em;
}


#sidebar .side_thumbnail{
    width:50px;
    float:left;
    border:none!important;
}

#sidebar .side_thumbnail img{
    width: 50px;
    height: 50px;
    display: block;
}

#sidebar .newpostlists dl{
    margin: 0;
}

#sidebar .newpostlists dt,
#sidebar .newpostlists dd{
    margin-left:70px;
    color: #666;
}

#sidebar .side-article{
    margin-bottom: 7px;
}

#sidebar .side-article:last-child{
    margin-bottom: 0px;
}

#sidebar .more{
    text-align: right;
    padding: 10px 10px 0 0;
}

